<div class="myForm">
    <h1>SPOTIFY FINDER</h1>
    <form action="/artist-search" method="GET">
        <input type="text" name="artist" placeholder="Artist name ...">
        <button type="submit">SEND</button>
    </form>
</div>